body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg5.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center; /* Center the content horizontally */
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Ensure the header takes full width */
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url('untlogo.png');
    background-size: cover;
    margin-right: 10px;
}

.content {
    text-align: left;
    width: 300px; /* Set a fixed width for the content */
    margin-bottom: 10px; /* Add space between heading and paragraph */
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px; /* Set a fixed width for the form */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: green;
    color: black;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: darkgreen;
}

.contact-us {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Set a fixed width for the contact info part */
    margin-top: 20px; /* Add some space between the form and contact info */
}
